#basicDiv > div{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grail-body{
  margin-top: 50px;
  flex:1 0 auto;
}

nav,footer{
  flex-shrink: 0;
}

#welcomeDiv{
  margin-top: 100px;
}